<app-detail-header category  = "PODCAST" [duration] = "podcast.duration" [url]="url"></app-detail-header>
<div class = "podcast">
  <div *ngIf = "podcast.image!==''" class = "podcast__image" [style.background-image]="'url(' +podcast.image  + ')'"></div>
  <div *ngIf = "podcast.image===''"class = "podcast__image" [style.background-image]="'url(../../assets/'+podcast.tags[0].name+'.jpg)'"></div>
  <div class = "podcast__title">{{podcast.title}}</div>
  <div class = "podcast__source">{{podcast.source}}</div>
  <div class = "podcast__buttons">
    <div class = "podcast__button--back" (click) = "rewind(10)"></div>
    <div *ngIf = "!
    playing"class = "podcast__button--play" (click)= "play()"></div>
    <div *ngIf = "playing" class = "podcast__button--pause" (click)= "pause()"></div>
    <div class = "podcast__button--forward" (click) = "fastForward(30)"></div>
  </div>
  <div class = "podcast__track">
    <div class = "podcast__track-base"></div>
    <div class = "podcast__track-top" [style.width]="getTopWidth()"></div>
    <div class = "podcast__track-knob" [style.left]="getKnobPos()"></div>
  </div>
  <div class = "podcast__time">
    <span *ngIf="usefulAudioInfo.currentTime.hours<10">0</span>{{usefulAudioInfo.currentTime.hours}}:<span *ngIf="usefulAudioInfo.currentTime.minutes<10">0</span>{{usefulAudioInfo.currentTime.minutes}}:<span *ngIf="usefulAudioInfo.currentTime.seconds<10">0</span>{{usefulAudioInfo.currentTime.seconds}} / <span *ngIf="usefulAudioInfo.totalTime.hours<10">0</span>{{usefulAudioInfo.totalTime.hours}}:<span *ngIf="usefulAudioInfo.totalTime.minutes<10">0</span>{{usefulAudioInfo.totalTime.minutes}}:<span *ngIf="usefulAudioInfo.totalTime.seconds<10">0</span>{{usefulAudioInfo.totalTime.seconds}}</div>
</div>
<div class = "list-title">
  Similar Videos
</div>
<app-list [listInfo] = "listInfo"></app-list>
