.item{
  background-color: white;
  margin-top: 10px;
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
.item__image{
  /*background-image:url('https://images.pexels.com/photos/24576/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');*/
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 183px;
  width: 100%;
}
.item__tag{
  margin-top: 14px;
  font-family: Roboto-Bold;
  font-size: 10px;
  color: #7B7B7B;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}
.item__title{
  margin-top: 5px;
  font-family: Roboto;
  font-size: 13px;
  color: #131313;
  letter-spacing: 0.6px;
}
.item__info{
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.item__play-button{
  position: relative;
  top: -117px;
  left: calc(50% - 26px);
  margin-bottom: -52px;
  width: 52px;
  height: 52px;
  background-image: url('../../assets/play-button.png')
}
.source-icon{
	width: 19px;
	height: 19px;
	border-radius: 100px;
	background-position: center;
	background-size: contain;
	background-image: url("../../assets/Podcast.svg")
}
.source{
	margin-left: 4px;
	font-family: Roboto;
	font-size: 11px;
	color: #7B7B7B;
	letter-spacing: 0.51px;
}
.duration-icon{
	margin-left: 15px;
	height: 15px;
	width: 15px;
	background-image: url('/assets/duration-icon.png');
}
.duration{
	font-family: Roboto;
	font-size: 11px;
	color: #7B7B7B;
	letter-spacing: 0.51px;
	margin-left: 8px;
}
.share-icon{
	width: 16px;
	height: 16px;
	background-image: url('/assets/share-icon.png');
	margin-left: auto;
}
